
<h1 mat-dialog-title>
    <mat-input-container >
        <input matInput [(ngModel)]="data.title">
    </mat-input-container> 
</h1>
<div mat-dialog-content > 
    <p *ngIf="data.type==='todo'"> {{ data.description }} </p>
    <img class="img" mat-card-image [src]=" data.image" *ngIf="data.type==='image'" >

        <mat-selection-list >
         <mat-list-option *ngFor="let list of data.list ,let  i= index ">
                        {{list.todo}}
                </mat-list-option>
         </mat-selection-list>
 </div>  
      
<div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)=" onNoClick()" >Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial >Confirm</button>
 </div> 
   



